span{
    color: white;
}

.search{
    border: none;
    border-radius: 38px;
}

.profilePic{
    border-radius: 50%;
    height: 30px;
}
h6{
    color: grey;
}

.imageOuter{
   position: relative;
   cursor: pointer;
}

.imageInner{
    top: 12px;
    right: 12px;
    position: absolute;
}

label{
    font-weight: bold;
    margin: 5px;
}

.card{
    width: 200px;
    margin: 5px;
}

.card:hover{
    background-color: #0d6efd;
    color: white;
}

.content{
    padding: 5em 5em 5em 5em;
}

.nav-pills .nav-link {
    padding: 0.5rem 1.5rem;
    width: 120px;
    border-radius: 20px;
}

.progress{
    --bs-progress-height: 2rem;
    margin-top: 30px;
}