<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <div>
            <img src="../../assets/images/image 10.png">
        </div>
        <div>
            <span>Dashboard</span>
        </div>
        <div>
            <span>Leads</span>
        </div>
        <div>
            <!-- <input type="search" class="search" placeholder="Search Leads"> -->
            <img src="../../assets/images/Group 1.png">
        </div>
        <div>
            <img src="../../assets/images/Group 4.png">
        </div>
        <div>
            <img [src]="userImage" class="profilePic">
        </div>
        <div>
            <span>{{userName}}</span>
            <h6>Lead tracker user</h6>
        </div>
        <div  class="imageOuter">
            <img src="../../assets/images/Rectangle 5.png" alt="">
            <img src="../../assets/images/setting 1.png" alt="" class="imageInner">
        </div>
        <div class="imageOuter">
            <img src="../../assets/images/Rectangle 5.png" alt="">
            <img src="../../assets/images/material-symbols_logout-rounded.png" alt="" class="imageInner">
        </div>
    </div>
</nav>