<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <div>
            <img src="../../assets/images/image 10.png">
        </div>
        <div>
            <span>Dashboard</span><br>
        </div>
        <div>
            <span>Leads</span>
        </div>
        <div>
            <!-- <input type="search" class="search" placeholder="Search Leads"> -->
            <img src="../../assets/images/Group 1.png">
        </div>
        <div>
            <img src="../../assets/images/Group 4.png">
        </div>
        <div>
            <img [src]="userImage" class="profilePic">
        </div>
        <div>
            <span>{{userName}}</span>
            <h6>Lead tracker user</h6>
        </div>
        <div class="imageOuter">
            <img src="../../assets/images/Rectangle 5.png" alt="">
            <img src="../../assets/images/setting 1.png" alt="" class="imageInner">
        </div>
        <div class="imageOuter" (click)="logout()" title="log out">
            <img src="../../assets/images/Rectangle 5.png" alt="">
            <img src="../../assets/images/material-symbols_logout-rounded.png" alt="" class="imageInner">
        </div>
    </div>
</nav>
<div class="content">
    <h2>Welcome to Lead tracker!</h2>
    <div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation" (click)="tabchange(0)">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true">Active
                    ({{activeCount}})</button>
            </li>
            <li class="nav-item" role="presentation" (click)="tabchange(1)">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Won
                    ({{wonCount}})</button>
            </li>
            <li class="nav-item" role="presentation" (click)="tabchange(2)">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Lost
                    ({{lostCount}})</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <!-- <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">a</div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">b</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">c</div> -->
            <div class="row">
                <div class="col-md-4">
                    <label>Probabilities</label>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar overflow-visible text-dark" [style.width.%]="high_percent"
                            style="background-color: #1987548a;">{{high_percent}}%
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            High Probability to win
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{highCount}} Leads</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar overflow-visible text-dark" [style.width.%]="medium_percent"
                            style="background-color: #ea868f94;">{{medium_percent}}%
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Medium Probability to win
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            {{mediumCount}} Leads</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar overflow-visible text-dark" [style.width.%]="low_percent"
                            style="background-color: rgb(233 121 131 / 86%);">{{low_percent}}%
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Low Probability to win
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            {{lowCount}} Leads</div>
                    </div>
                </div>
                <div class="col-md-8">
                    <label>Graph</label>
                    <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions" width="300"
                        height="100" [type]="barChartType">
                    </canvas>
                </div>
            </div>
            <div *ngIf="tabIndex == 0">
                <label>Active Leads Status</label>
                <div class="row">

                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Contact Made</h6>
                                <h5>{{contactMadeCount}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Initial interest</h6>
                                <h5>{{initialInterCount}}</h5>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">First intro meeting</h6>
                                <h5>{{firstIntroCount}}</h5>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Follow up meeting</h6>
                                <h5>{{followUpCount}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Workshop stage</h6>
                                <h5>{{workshopCount}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <label>Recently Active Leads</label>
                <img src="../../assets/images/Group 1086649.png" alt="">
                <div>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Lead Name</th>
                                <th scope="col">Date added</th>
                                <th scope="col">Current state</th>
                                <th scope="col">Probability</th>
                                <th scope="col">Team size</th>
                                <th scope="col">Location</th>
                                <th scope="col">Revenue</th>
                                <th scope="col">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lead of recentLeads">
                                <td>{{lead.name}}</td>
                                <td>{{lead.created_on}}</td>
                                <td>{{lead.current_stage.name}}</td>
                                <td *ngIf="lead.probability<=24">Low</td>
                                <td *ngIf="lead.probability>=25 && lead.probability <=49">Medium</td>
                                <td *ngIf="lead.probability>=50">High</td>
                                <td>{{lead.organization.team_size}} people</td>
                                <td>{{lead.organization.country}}</td>
                                <td>{{lead.organization.revenue}}</td>
                                <td>{{lead.category.name}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align: center;">
                <img src="../../assets/images/Group 1086660.png" alt="">
            </div>

        </div>

    </div>
</div>